<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container col-7">
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            <a asp-controller="Home" asp-action="MoviesCollection" class="nav-link">Movie Collection</a>
            <a asp-controller="Home" asp-action="MoviesForm" class="nav-link">Movies Form</a>
            <a asp-controller="Home" asp-action="Baconsale" class="nav-link">Baconsale</a>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
